/**
	Fonts & colors of the application
*/
/*Colors*/
/*Border colors*/
/*Background Colors*/
/*Font of the app*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
.ico {
  margin: 0 auto;
  text-align: center;
  width: 30%;
  height: 30%;
  position: relative; }
  .ico:not(.rotate) {
    transform: translateY(-132%) translateX(-34%) rotate(-45deg) !important; }
    .ico:not(.rotate) .st-arrow {
      fill: #F44336; }
  .ico.rotate {
    transform: translateY(340%) translateX(-30%) rotate(225deg) !important; }
    .ico.rotate .st-arrow {
      fill: #4fa584; }
  .ico .svg {
    z-index: 9;
    position: relative; }

.ui:first-child .ico .st-arrow {
  -webkit-animation: scrolly 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
  animation: scrolly 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
  -webkit-perspective: 9000px;
  perspective: 9000px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  animation-name: scrolly; }

@keyframes scrolly {
  0% {
    transform: translate3d(0, -150%, 0) rotateX(90deg) scale(0.5) skewX(3deg); }
  30% {
    transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg); }
  70% {
    transform: translate3d(0, 0, 0) rotateX(0deg) scale(1) skewX(0deg); }
  95% {
    transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg); }
  100% {
    transform: translate3d(0, 50%, 0) rotateX(-90deg) scale(0.5) skewX(-3deg); } }

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  text-align: center; }

body {
  background: #343535 fixed;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow-x: hidden;
  background-image: url("../res/ethereum.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -400px; }
  body h1 {
    font-family: "Roboto", "Source Sans Pro", sans-serif;
    transform: rotate(90deg) translate(43vh, -10vw);
    color: #828384;
    padding: 2vh 0;
    margin: 0;
    font-size: 10vh;
    position: fixed;
    display: inline-block;
    right: 0; }
    body h1 span {
      transform: rotate(-90deg) translate(40px, -140px);
      font-size: 0.2em !important;
      font-weight: bold;
      display: inline-block;
      color: #c99d66; }
  body #no_transac {
    line-height: 99vh;
    white-space: nowrap;
    color: #828384;
    font-size: 2.5em;
    font-style: italic; }
  body #logo {
    position: fixed;
    bottom: 20px;
    right: 20px; }
  body #ui_container {
    height: 100%;
    margin: 5% 0; }
    body #ui_container .ui {
      width: 80vw;
      height: 45vh;
      margin: 4vh 10%;
      color: white;
      box-shadow: none; }
      body #ui_container .ui:not(:first-child) {
        opacity: 0.6; }
      body #ui_container .ui h2 {
        font-family: "Roboto", "Source Sans Pro", sans-serif;
        color: #c99d66;
        margin: 0;
        padding: 10px;
        padding-bottom: 0;
        font-size: 3.5em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
        body #ui_container .ui h2 small {
          color: #828384;
          font-size: 0.4em; }
      body #ui_container .ui .ui_box {
        width: 50%;
        height: 100%;
        position: relative;
        float: left;
        background: #1f2020;
        box-shadow: -1px 0px rgba(255, 255, 255, 0.1); }
        body #ui_container .ui .ui_box .transac_box {
          height: 30vh;
          width: 100%;
          opacity: 0; }
          body #ui_container .ui .ui_box .transac_box .line {
            height: 33.33%; }
            body #ui_container .ui .ui_box .transac_box .line#down {
              text-align: right; }
            body #ui_container .ui .ui_box .transac_box .line#up {
              text-align: left; }
            body #ui_container .ui .ui_box .transac_box .line span {
              margin: 0 20px; }
          body #ui_container .ui .ui_box .transac_box .solde {
            font-weight: 700;
            height: 100%;
            line-height: 200%;
            font-size: 3.5em;
            white-space: nowrap;
            display: inline-block;
            color: #c99d66; }
        body #ui_container .ui .ui_box .transaction {
          font-weight: 900;
          font-size: 4.5em;
          position: absolute;
          display: inline-block;
          transform: translate(3vw, -19vh);
          white-space: nowrap;
          opacity: 0; }
        body #ui_container .ui .ui_box .t_sender {
          color: #F44336; }
        body #ui_container .ui .ui_box .t_receiver {
          color: #4fa584; }
        body #ui_container .ui .ui_box .col-4 {
          width: 33.33%;
          float: left;
          min-height: 1px;
          text-align: center;
          height: 65%;
          position: relative; }
          body #ui_container .ui .ui_box .col-4 .down {
            position: absolute;
            bottom: 20%;
            text-align: left; }
          body #ui_container .ui .ui_box .col-4 .up {
            position: absolute;
            top: 10%; }
          body #ui_container .ui .ui_box .col-4 .solde {
            font-weight: 700;
            font-size: 3.5em;
            white-space: nowrap;
            color: #c99d66; }
          body #ui_container .ui .ui_box .col-4 .t_sender {
            color: #F44336;
            transform: translate(-12vw, -120px); }
          body #ui_container .ui .ui_box .col-4 .t_receiver {
            color: #4fa584;
            transform: translate(12vw, -120px); }
