/**
	Fonts & colors of the application
*/

/*Colors*/
$minorColor : #F44336; // Red color for negative transaction
$plusColor : rgb(79,165,132); // Green color for negative transaction
$goldColor : rgb(201, 157, 102); // Gold color for transaction and name
$smallColor : #828384; // color of sender's and receiver's address

/*Border colors*/
$borderColor : rgba(255,255,255,0.1);

/*Background Colors*/
$uiBoxBackColor : #1f2020; //dark grey for the boxes
$bodyBackColor : #343535; //dark blue for the body

/*Font of the app*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
$font : 'Roboto','Source Sans Pro', sans-serif;
