
/**
	Fonts & colors of the application
*/

/*Colors*/
$minorColor : rgb(244,67,54); // Red color for negative transaction
$plusColor : rgb(79,165,132); // Green color for negative transaction
$goldColor : rgb(201, 157, 102); // Gold color for transaction and name
$smallColor : rgba(255,255,255,0.45); // color of sender's and receiver's address

/*Border colors*/
$borderColor : rgba(255,255,255,0.1);

/*Background Colors*/
$uiBoxBackColor : #3C3C3D; //dark grey for the boxes
$bodyBackColor : #ECF0F1; //smoke white for the body

/*Font of the app*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto);
$font : 'Roboto','Source Sans Pro', sans-serif;