@import "src/style/partial/_utils";

.ico {  
    margin: 0 auto;
    text-align: center;
    width: 30%;
    height: 30%;
    position: relative;
  &:not(.rotate) {
    transform: translateY(-132%) translateX(-34%) rotate(-45deg) !important;
    .st-arrow {
      fill: $minorColor;
    }
  }
  &.rotate{
    transform: translateY(340%) translateX(-30%) rotate(225deg) !important;
    .st-arrow {
      fill: $plusColor;
    }
  }
  .svg {
    z-index: 9;
    position: relative;
  }
}