@import "src/style/partial/_utils";

.ico {  
    margin: 0 auto;
    text-align: center;
    width: 80%;
    height: 30%;
    position: relative;
  &:not(.rotate) {
    transform: translateY(-5%)  rotate(-90deg) !important;
    .st-arrow {
      fill: #828384;
    }
  }
  &.rotate{
    transform: translateY(340%) translateX(-30%) rotate(225deg) !important;
    .st-arrow {
      fill: $plusColor;
    }
  }
  .svg {
    z-index: 9;
    position: relative;
  }
}