/**
	Fonts & colors of the application
*/


/*Font of the app*/

@font-face {
    font-family: 'Source Sans Pro';
    src: url('css/font/sourcesanspro/sourcesanspro.woff2') format('woff2'),
         url('css/font/sourcesanspro/sourcesanspro.woff') format('woff');
    font-weight: 300;
    font-style: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('css/font/roboto/roboto.ttf') format('ttf');
    font-weight: 900;
    font-style: 900;
}

/*Colors*/
$goldColor : rgb(201, 157, 102); // Gold color for transaction and name
$smallColor : #828384; // color of sender's and receiver's address
$darkGoldColor : rgb(155, 127, 72);
$lightGoldColor : rgb(255, 227, 172);
$lightGreyColor: #828384;

/*Border colors*/
$borderColor : rgba(255,255,255,0.1);

/*Background Colors*/
$uiBoxBackColor : #1f2020; //dark grey for the boxes
$bodyBackColor : #343535; //dark blue for the body

$fontBody : 'Roboto', 'Source Sans Pro', arial;
$fontTitle : 'Roboto','Source Sans Pro', arial;
