.chart{
	height: inherit
}

#chart_divEvolution{
	@extend .chart;
}

.userBalance
{
	color : #ffe3ac;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	/*font-size : 1.5em;*/
	font-weight : bold;
}



table.userBalance, table.userBalance tr
{
	font-size : 0.75em;
	width : 95%;
	text-align: right;
	margin: auto;
}

table.userBalance td
{
	width : 30%;
}

table.userBalance tr td:first-child
{
	text-align: left;
}

table.userBalance tr:last-child
{
	font-style: italic;
	font-weight: normal;
	color: #ceb584;
}
